# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar
*.via
*.tmp
*.err
mvnw
*.cmd



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA Files
.idea/*
*.ipr
*.iws
*.ids
*.project
*.classpath

# maven package default input path
target/*